*{
    padding: 0;
    margin: 0;
}
.container{
    width: 100%;
    height: 100vh;
}
h2{
    color: teal;
    padding-top: 20px;
    padding-bottom: 50px;
}
.card{
    width: 50%;
    border: 1px solid teal;
    border-radius: 3px;
    padding: 10px;
    margin: auto;
}
.chars{
    font-size: 23px;
}
.input{
    width: 30%;
    font-size: 20px;
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    
}
.btn{
    width: 20%;
    height: 50px;
    font-size: 20px;
    border: none;
    text-decoration: none;
    background: teal;
    color: white;
    border-radius: 5px;
}
.resultSection{
    width: 50%;

    margin: auto;
    margin-top: 20px;
    display: flex;
}
.resultSection div{
    width: 40%;
    margin: auto;
   
}
.ptag{
    font-size: 20px;
    color: black;
    font-weight: bold;
}
p{
    font-size:20px;
    color: teal;
}